<div class="row mb-5 mt-xs-3 mt-md-0 mx-3">
    <div class="col-md">
        <h2 class="h4 pb-3">Elevate Your Expertise</h2>
        <h3 class="h5 pb-3">Streamline Your CPD with Our Free Excel Tool</h3>
        <p>In the ever-evolving world of tax, audit, and accounting, Continuous Professional Development (CPD) is not merely an option; it's a cornerstone of success. Our comprehensive Excel spreadsheet empowers you to effortlessly manage your CPD activities, ensuring you're always at the forefront of industry knowledge.</p>
        <h3 class="h5 py-3">Embrace Continuous Improvement</h3>
        <p><a href="https://library.croneri.co.uk/node/25712879" target="_blank">Download our free tax, audit, and accounting Excel spreadsheet today</a> and embark on a journey of lifelong learning. Elevate your expertise, demonstrate your commitment, and become a beacon of knowledge in the tax, audit, and accounting realm!</p>
        <p><a href="https://library.croneri.co.uk/node/25712879" target="_blank">CPD Recording Tool</a>.</p>
    </div>
    <div class="col-md-5">
        <a href="https://library.croneri.co.uk/node/25712879" target="_blank">
            <img src="/sites/default/files/inline-images/cpd-recording-tool-451.png" 
                srcset="/sites/default/files/inline-images/cpd-recording-tool-451.png 451w,
                    /sites/default/files/inline-images/cpd-recording-tool-513.png 513w,
                    /sites/default/files/inline-images/cpd-recording-tool-526.png 526w,
                    /sites/default/files/inline-images/cpd-recording-tool-696.png 696w,
                    /sites/default/files/inline-images/cpd-recording-tool-936.png 936w"
                sizes="(max-width: 576px) 100vw,
                (max-width: 767px) 100vw,
                (min-width: 768px) 50vw,
                (min-width: 992px) 50vw,
                (min-width: 1200px) 50vw,
                50vw"
                alt="Croner-i CPD Recording Tool Promo Image" 
                class="img-fluid" 
                border=0/></a>
        </div>
</div>