<style>
	#care-btn {
		font: italic 1rem lora,times,serif;
	    letter-spacing: 0.1em;
	    text-align: center;
	    background: #e1d283;
	    color: #1a2233;
	    padding: 1em;
	    border: none;
	}
</style>
<div class="container mb-5">
	<div class="row mb-5">
		<div class="col-md-1 d-none d-md-block"></div>
	    <div class="col-md-5">
	        <a href="https://pages.croneri.co.uk/2790-care-compliance.html?utm_campaign=2790&utm_medium=website&utm_source=direct&utm_content=croner-i-website-link-to-cta" target="_blank"><img src="https://www.croneri.co.uk/sites/default/files/inline-images/care-compliance-component-526.jpg" alt="Care compliance" class="img-fluid" border=0/></a>
	    </div>
		<div class="col-lg-1 d-none d-lg-block"></div>
		<div class="col-md">
			<h2 class="h4 pb-3">When it comes to Care it’s all hands on deck</h2>
			<p>Working in Care is not all plain sailing. For those at the helm, Croner-i has a Care plan to help you meet the CQC requirements for domiciliary care. Regulatory Guides for Best Practice. Practical Tools for Administrative Efficiency. A helpline for Expert Advice. Care Training modules and Risk Assessment Templates. Everything working together so you can take care of business. </p>
			<h2 class="h4 pb-3">Steady as go</h2>
			<p>All in all, we make care managers' lives easier, their work more efficient and help them remain compliant with changing regulations. We will help you make informed decisions and guide you to a safe harbour. In short, we will make sure you are shipshape and good to go. </p>
			<p><a href="https://pages.croneri.co.uk/2790-care-compliance.html?utm_campaign=2790&utm_medium=website&utm_source=direct&utm_content=croner-i-website-link-to-cta" target="_blank" id="care-btn">Book a demo</a></p>
		</div>
	</div>
</div>