<style>
::-webkit-scrollbar {
    all:unset;
}
::-webkit-scrollbar-thumb {
  background: #E0D283;
  border: none;
  }
::-webkit-scrollbar-thumb:hover {
  background: #cabd76;
}
::-webkit-scrollbar-thumb:active {
  background: #d1bc46;
}
.container_package_list div {
    width: 100%;
}
.resettxt {
    display: block !important;
    color: rgb(999, 999, 999) !important;
    font-family: lato, arial, san-serif;
    font-size: 18px !important;
    font-weight: 500 !important;
    font-stretch: 100% !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
    font-kerning: normal !important;
    text-align: left !important;
    margin: 0px !important;
    padding-left: 0px !important;
}
@media (max-width: 576px) {
    .achead { font-size: 1.1rem !important; }
}
@media (max-width: 768px) {
    .achead { font-size: 1.15rem !important; }
    .component_primary_proposition .right {
        display:block !important;
    }
    .partners-xs {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #252E42 !important;
    }
    .resettxt {
        margin: 0px 0px 3em 0px !important;
        padding: 0px !important;
    }
}
@media (max-width: 1281px) {
    .achead { font-size: 1.2rem !important; }
}
@media (min-width: 1282px) {
    .achead { font-size: 1.4rem !important; }
}
</style>